@import "tailwindcss";

@font-face {
  font-family: "Estedad";
  src: url("/fonts/Estedad-FD[KSHD,wght].woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: "Estedad", sans-serif;
}
