---
import Layout from "../layouts/Layout.astro";
---

<Layout title="لوتوس | موسسه حسابداری و حسابرسی" description="">
  <section
    id="hero"
    class="relative flex justify-center items-center py-32 overflow-hidden bg-blue-50"
  >
    <!-- Wave SVG Background -->
    <img
      src="/hero-wave.svg"
      alt=""
      class="absolute inset-0 w-full h-full object-cover -z-10 pointer-events-none select-none"
    />

    <!-- Hero Content -->
    <div class="relative text-center z-10 max-w-xl px-6">
      <h1 class="text-3xl md:text-4xl font-extrabold leading-relaxed">
        لوتوس؛ شروع همکاری راحت، نتیجه حرفه‌ای برای هر نوع کسب‌وکار.
      </h1>
      <p class="text-gray-700 mt-6 text-base md:text-lg leading-relaxed">
        ارائه خدمات حسابداری شرکتی و حسابرسی دفاتر مالی با رویکردی دقیق، سریع و
        مطابق استانداردهای مالیاتی.
      </p>
      <a
        href="#moshavereh"
        class="inline-block mt-10 px-8 py-3 bg-blue-700 text-white text-sm font-semibold rounded-xl hover:bg-blue-800 transition"
      >
        درخواست مشاوره رایگان
      </a>
    </div>
  </section>

  <section id="about" class="w-full flex justify-center py-24 bg-white">
    <div class="w-full max-w-[1150px] px-4 text-justify">
      <h2 class="text-3xl md:text-4xl font-extrabold text-gray-900">
        درباره ما
      </h2>

      <p
        class="mt-6 text-gray-700 text-base md:text-lg leading-relaxed max-w-[850px] mx-auto"
      >
        واحد خدمات مالی لوتوس با یک هدف ساده ساخته شده است: کمک کنیم کسب‌وکارها
        یک بخش مالی منظم، دقیق و بی‌دردسر
        داشته باشند.
      </p>

      <p
        class="mt-6 text-gray-700 text-base md:text-lg leading-relaxed max-w-[850px] mx-auto"
      >
        ما بیش از ۲۴ سال تجربه واقعی در حسابداری، حسابرسی داخلی و پرونده‌های
        مالیاتی داریم، عضو انجمن حسابداری و انجمن حسابداران خبره ایران هستیم،
        یعنی کار را از روی تجربه و استانداردهای حسابداری جلو می‌بریم، نه آزمون و
        خطا.
      </p>

      <p
        class="mt-6 text-gray-700 text-base md:text-lg leading-relaxed max-w-[850px] mx-auto"
      >
        لوتوس جایی است که کار حسابداری و سامانه مودیان را دقیق، درست و بدون
        استرس برای شرکت‌ها و اشخاص حقیقی انجام می‌دهد، تا مدیران و صاحبان کسب و
        کارها با خیالی راحت روی رشد کسب و کارشان تمرکز کنند.
      </p>

      <p
        class="mt-8 text-blue-700 text-lg md:text-xl font-semibold max-w-[850px] mx-auto"
      >
        لوتوس کاری می‌کند که جریان مالی در شرکت یا کسب و کار شما، بالاخره روی
        ریل بیفتد.
      </p>
    </div>
  </section>
</Layout>
