<header
  class="sticky top-0 z-50 w-full bg-white shadow-sm py-4 flex justify-center"
>
  <div
    class="flex flex-col md:flex-row w-full max-w-[1150px] items-center md:justify-between px-4 gap-4 md:gap-0"
  >
    <!-- LOGO -->
    <a href="#" class="flex items-center gap-3">
      <img
        src="/logo.svg"
        alt="لوگو حسابداری لوتوس"
        width="48"
        height="48"
        class="drop-shadow-sm"
      />

      <div>
        <h1 class="text-xl font-extrabold text-primary-700">
          حسابداری و حسابرسی لوتوس
        </h1>
        <p class="text-xs text-primary-800">
          خدمات حرفه‌ای حسابداری شرکتی و حسابرسی مالیاتی
        </p>
      </div>
    </a>

    <nav
      class="flex gap-8 text-sm font-medium text-gray-700 **:hover:text-blue-700 **:transition"
    >
      <a href="#about">درباره</a>
      <a href="#services">خدمات</a>
      <a href="#moshavereh">مشاوره</a>
      <a href="#contact">تماس با ما</a>
    </nav>
  </div>
</header>
