<header class="flex justify-center">
  <div class="flex w-250 items-center justify-between">
    <a href="https://lutosacc.ir/" class="flex items-center">
      <img src="/logo.svg" alt="لوگو حسابداری لوتوس" width="45" height="45" />
      <div class="">
        <h1 class="text-xl font-black">موسسه لوتوس</h1>
        <p class="text-xs">حسابداری و حسابرسی</p>
      </div>
    </a>
    <nav class="flex gap-6 text-sm">
      <a
        href="#about"
        class="hover:text-white hover:underline underline-offset-4 transition"
      >
        درباره
      </a>
      <a
        href="#services"
        class="hover:text-white hover:underline underline-offset-4 transition"
      >
        خدمات
      </a>
      <a
        href="#moshavereh"
        class="hover:text-white hover:underline underline-offset-4 transition"
      >
        مشاوره
      </a>
      <a
        href="#contact"
        class="hover:text-white hover:underline underline-offset-4 transition"
      >
        تماس با ما
      </a>
    </nav>
  </div>
</header>;
